<!-- header modal -->
<div class="modal fade" [ngClass]="[mainDialogType == 'login' ? 'login_dialog in' : '']" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="closeDialog('login_dialog')" class="close" data-dismiss="modal" aria-hidden="true">
          &times;</button>
        <h4 class="modal-title" id="myModalLabel">Don't Wait, Login now!</h4>
      </div>
      <div class="modal-body modal-body-sub">
        <div class="row">
          <div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
            <div class="sap_tabs">	
              <div id="horizontalTab" [ngClass]="[dialogType =='login' ? 'login' : 'register']" style="display: block; width: 100%; margin: 0px;">
                <ul>
                  <li (click)="dialogTypeInside('login')"class="resp-tab-item" aria-controls="tab_item-0"><span>Sign in</span></li>
                  <li (click)="dialogTypeInside('register')" class="resp-tab-item" aria-controls="tab_item-1"><span>Sign up</span></li>
                </ul>		
                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                  <div class="facts">
                    <div class="register">
                      <form action="#" method="post">			
                        <input [(ngModel)]="mobile" name="Email" placeholder="Email Address" type="text" required="">						
                        <input [(ngModel)]="password"  name="Password" placeholder="Password" type="password" required="">										
                        <div class="sign-up">
                          <input (click)="loginUserCheck()" type="submit" value="Sign in"/>
                        </div>
                      </form>
                    </div>
                  </div> 
                </div>	 
                <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
                  <div class="facts">
                    <div class="register">
                      <form action="#" method="post">			
                        <input [(ngModel)]="register.name" placeholder="Name" name="Name" type="text" required="">
                        <input [(ngModel)]="register.mobile" placeholder="Mobile" name="mobile" type="text" required="">
                        <input [(ngModel)]="register.email" placeholder="Email Address" name="Email" type="email" required="">	
                        <input [(ngModel)]="register.password" placeholder="Password" name="Password" type="password" required="">	
                        <input [(ngModel)]="register.re_password" placeholder="Confirm Password" name="Password" type="password" required="">
                        <div class="sign-up">
                          <input (click)="registerUser()"  type="submit" value="Create Account"/>
                        </div>
                      </form>
                    </div>
                  </div>
                </div> 			        					            	      
              </div>	
            </div>
            <script src="assets/js/easyResponsiveTabs.js" type="text/javascript"></script>
            <script type="text/javascript">
              $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                  type: 'default', //Types: default, vertical, accordion           
                  width: 'auto', //auto or any width like 600px
                  fit: true   // 100% fit in a container
                });
              });
            </script>
            <div id="OR" class="hidden-xs">OR</div>
          </div>
          <div class="col-md-4 modal_body_right modal_body_right1">
            <div class="row text-center sign-with">
              <div class="col-md-12">
                <h3 class="other-nw">Sign in with</h3>
              </div>
              <div class="col-md-12">
                <ul class="social">
                  <li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
                  <li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
                  <li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
                  <li class="social_behance"><a href="#" class="entypo-behance"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- header modal -->
<!-- header -->
<div class="header" id="home1">
  <div class="container">
    <div  *ngIf="!isLogin" class="w3l_login">
      <a href="#"  (click)="openDialog()" ata-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </div>
    <div  *ngIf="isLogin" class="w3l_login">
       <p>Welcome User, <span class="username">{{welcomeUsername}}</span> </p>
    </div>
    <div class="w3l_logo">
      <h1><a href="index.html">Electronic Store<span>Your stores. Your place.</span></a></h1>
    </div>
    <div class="search">
      <input class="search_box" type="checkbox" id="search_box">
      <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
      <div class="search_form">
        <form action="#" method="post">
          <input type="text" name="Search" placeholder="Search...">
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
    <div class="cart cart box_1 checkout-count-wrap"> 
      <form action="#" method="post" class="last">        
        <button class="w3view-cart" type="submit" (click)="openCheckoutModel()" name="submit" value="">
          <p class="total_count_checkout">{{cart_qty}}</p>
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>      
        </button>
      </form>   
    </div>  
  </div>
</div>





<!-- //header -->
<!-- navigation -->
<div class="navigation">
  <div class="container">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> 
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li><a href="#" class="act">Home</a></li>	
          <!-- Mega Menu -->
          <li class="dropdown" [ngClass]="[currentDropDownMenu == 'products' ? 'open' : '']">
            <a href="javascript:void(0)" (click)="curentDropDown('products')" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column columns-3">
              <div class="row">
                <div class="col-sm-3">
                  <ul class="multi-column-dropdown">
                    <h6>Mobiles</h6>
                    <li><a href="products.html">Mobile Phones</a></li>
                    <li><a href="products.html">Mp3 Players <span>New</span></a></li> 
                    <li><a href="products.html">Popular Models</a></li>
                    <li><a href="products.html">All Tablets<span>New</span></a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="multi-column-dropdown">
                    <h6>Accessories</h6>
                    <li><a href="products1.html">Laptop</a></li>
                    <li><a href="products1.html">Desktop</a></li>
                    <li><a href="products1.html">Wearables <span>New</span></a></li>
                    <li><a href="products1.html"><i>Summer Store</i></a></li>
                  </ul>
                </div>
                <div class="col-sm-2">
                  <ul class="multi-column-dropdown">
                    <h6>Home</h6>
                    <li><a href="products2.html">Tv</a></li>
                    <li><a href="products2.html">Camera</a></li>
                    <li><a href="products2.html">AC</a></li>
                    <li><a href="products2.html">Grinders</a></li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <div class="w3ls_products_pos">
                    <h4>30%<i>Off/-</i></h4>
                    <img  src="assets/images/1.jpg" alt=" " class="img-responsive" />
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </ul>
          </li>
          <li><a href="about.html">About Us</a></li> 
          <li class="w3pages" [ngClass]="[currentDropDownMenu == 'pages' ? 'open' : '']">
            <a (click)="curentDropDown('pages')"  href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="icons.html">Web Icons</a></li>
              <li><a href="codes.html">Short Codes</a></li>     
            </ul>
          </li>  
          <li *ngIf="isLogin"  (click)="logout()"><a href="javascript:void(0)">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>


<div  [ngClass]="[mainDialogType == 'checkout' ? 'checkout_dialog' : '']" id="w3lssbmincart">
  <form method="post" class="" target="">   
  <button type="button" (click)="closeDialog()" class="sbmincart-closer">×</button>  
          <ul>        
            <li *ngFor="let cartObjItem of  cartObj" class="sbmincart-item sbmincart-item-changed">       
                     <div class="sbmincart-details-name">             
                    <a class="sbmincart-name">{{cartObjItem.productName}}</a>      
                      <ul class="sbmincart-attributes">                                                            
                     </ul>     
                 </div>         
                 <div class="sbmincart-details-quantity"> 
                       <input class="sbmincart-quantity" data-sbmincart-idx="0" name="quantity_1" type="text" value="1" autocomplete="off">       
                 </div>         
                 <div class="sbmincart-details-remove">          
                     <button type="button" class="sbmincart-remove" data-sbmincart-idx="0">×</button>     
                 </div>        
                 <div class="sbmincart-details-price">           
                   <span class="sbmincart-price">{{cartObjItem.price}}</span>       
                 </div>     
         </li>   
          																									
       </ul>  
       <div class="sbmincart-footer">       
         <div class="sbmincart-subtotal">  
         Subtotal: {{cartTotalPrice}}   																				
       </div>       
       <span (click)="checkout_btn()">Checkout Cart</span>
        </div>  
      <input type="hidden" name="bn" value="sbmincart_AddToCart_WPS_US">   
    </form></div>