#w3lssbmincart{
    display: block;
    position: relative;
    left: 0;
    width: 50%;
}
.sbmincart-subtotal.radio-wrap span {
    /* margin-left: 10px;
    vertical-align: text-top; */
}

.radio_text{
    margin: 0 10px;
    vertical-align:middle;
}
.sbmincart-subtotal .price{
color:red;
}